# Order is important. The last matching pattern has the most precedence.

*                     @inspec/inspec-core-team
docs-chef-io/**       @inspec/inspec-core-team @chef/docs-team @mjingle @IanMadd
*.md                  @inspec/inspec-core-team @chef/docs-team @mjingle @IanMadd
