.terminal-body {
  display: inline-block;
  position: fixed;
  height: 50%;
  width: 100%;
  top: 40%;
  color: white;
  font-size: 18px;
}

.left {
  float: left;
  padding-right: 4px;
  padding-top: 15px;
}

input {
  display: inline-block;
  background-color: black;
  border: none;
  color: white;
  height: 50px;
  width: 98%;
  font-size: 18px;
}

textarea:focus, input:focus{
  outline: none;
}

pre {
  color: white;
}