# Typing #
/src/typings/tsd/
/typings/
/tsd_typings/

# Node Files #
/node_modules
npm-debug.log

app/*.js
app/*.map
app/**/*.js
app/**/*.map

dist

!webpack.config.js
scripts/simulator/filesystem/examples/profile/*
