{{ define "main" }}
<main id="main-content-col" tabindex="-1">
<div class="col-content">
  <div id="{{ anchorize ( .Title )}}"><h1>{{ .Title }}</h1></div>
  <p>
    Below is a list of all of the pages in the {{ title (.Site.Params.product) }} documentation. It lists
    the page name, the file name, if the page exists in the {{ .Site.Params.product }} menu, and
    metadata about the page's menu entry if it is in the menu.
  </p>
  <p>
    Pages that are not in the <strong>content/{{ .Site.Params.product }}</strong> subdirectory
    won't be copied to chef-web-docs. Those file names are highlighted in red.
  </p>
  <p>
    To the left, each entry in the menu is listed with its menu weight. Red menu
    items are links to pages outside of the {{ .Site.Params.product }} documentation.
  </p>
  <ul>
    {{ range .Site.RegularPages }}
      {{ if ne (string .File) "desktop/resources/README.md"}}
        <li>
          <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
          <p>
            <br>
            {{ if hasPrefix .File (.Site.Params.product)}}
              <strong>File name:</strong> {{ .File }}
            {{ else }}
              <strong>File not in {{ .Site.Params.product }} subdirectory:</strong> <span class="page_menu_false">{{ .File }}</span>
            {{ end }}
            <br>
            <strong>{{ title (.Site.Params.product) }} Menu:</strong>
            {{ if index (.Params.menu) (.Site.Params.product) }}
              <span class="page_menu_true">True</span>
              <br><strong>Title:</strong> {{ (index (.Params.menu) (.Site.Params.product)).title }}
              <br><strong>Identifier:</strong> {{ (index (.Params.menu) (.Site.Params.product)).identifier }}
              <br><strong>Parent:</strong> {{ (index (.Params.menu) (.Site.Params.product)).parent }}
              <br><strong>Weight:</strong> {{ (index (.Params.menu) (.Site.Params.product)).weight }}
            {{ else }}
              <span class="page_menu_false">False</span>
            {{ end }}
            <br>
          </p>
        </li>
      {{ end }}
    {{ end }}
  </div>
</main>
{{ end }}
