h2 Chef InSpec Documentation
p
  | Chef InSpec is a free and open-source framework for testing and auditing your applications and infrastructure. Chef InSpec works by comparing the actual state of your system with the desired state that you express in easy-to-read and easy-to-write Chef InSpec code. Chef InSpec detects violations and displays findings in the form of a report, but puts you in control of remediation.

h2.margin-top-sm Getting started with Chef InSpec
p
  ' Below are some of the core concepts that make up Chef InSpec. Check out our
  a href="/tutorials" tutorials
  '  for a quick hands-on experience.
.row.columns.mobile-row-btn.align.margin-top-xs
  a.button.btn-lg.btn-purple-o.shadow.mobile-row-btn href="/tutorials" browse tutorials

.margin-top-sm.brdr-left
  .margin-left-sm
    h3 Create a profile
    p
      a href="/docs/reference/profiles/" Profiles
      '  are the core of the Chef InSpec testing experience. Use Chef InSpec profiles to manage everything you need to run a security or compliance scan--attributes, metadata, and the tests themselves.
.margin-top-xs.brdr-left
  .margin-left-sm
    h3 Add your tests
    p
      ' You can create tests three different ways: By composing your own tests, by including tests from the
      a href="https://supermarket.chef.io/" Chef Supermarket
      '  or by adding tests from the
      a href="http://dev-sec.io/" Dev-Sec Project
      '  as dependencies.  You can also customize your tests--pulling in the tests from our Supermarket and change them to suit your unique needs with the easy-to-read and easy-to-write Chef InSpec domain specific language.
.margin-top-xs.brdr-left
  .margin-left-sm
    h3 Target your system
    p
      | Run your tests wherever your infrastructure is--locally or in the cloud.  Chef InSpec is designed for platforms and treats operating systems as special cases.   Chef InSpec helps you, whether you use Windows Server on your own hardware or run Linux in Docker containers in the cloud.  As for the cloud, you can use Chef InSpec to target applications and services running on AWS and Azure.
.margin-top-xs.brdr-left
  .margin-left-sm
    h3 Resources
    p
      ' Chef InSpec has
      a href="/docs/reference/resources/" 80+ resources
      '  ready use--apache to zfs pool.  If you need a solution that we haven’t provided, you can write your own
      a href="/docs/reference/dsl_resource/" custom resource
      ' .

h2.margin-top-sm Contributing
p
  ' This documentation is automatically generated from the Chef InSpec repository and source code. To contribute, please have a look at the
  a href="https://github.com/chef/inspec/tree/master/docs" docs
  '  folder of the project.
