# Documentation available at https://expeditor.chef.io/docs/getting-started/
---

rubygems:
 - inspec
 - inspec-core
 - inspec-bin:
    gemspec_path: ./inspec-bin/
 - inspec-core-bin:
    gemspec_path: ./inspec-bin/

pipelines:
 - habitat/build:
      env:
       - HAB_NONINTERACTIVE: "true"
       - HAB_NOCOLORING: "true"
       - HAB_STUDIO_SECRET_HAB_NONINTERACTIVE: "true"
 - artifact/habitat:
      description: Execute tests against the habitat artifact
      definition: .expeditor/artifact.habitat.yml
      env:
       - HAB_NONINTERACTIVE: "true"
       - HAB_NOCOLORING: "true"
       - HAB_STUDIO_SECRET_HAB_NONINTERACTIVE: "true"
      trigger: pull_request
 - verify/private:
      definition: .expeditor/verify_private.pipeline.yml
      public: false
      description: Pull Request validation tests
      trigger: pull_request
      env:
      - LANG: "C.UTF-8"
      - SLOW: 1
      - NO_AWS: 1
      - MT_CPU: 5
      - ARTIFACTORY_BASE_URL: https://artifactory-internal.ps.chef.co
 - coverage:
      description: Unit test coverage
      public: false
      # Private due to use of tokens
      trigger: pull_request
      env:
      - LANG: "C.UTF-8"
      - SLOW: 1
      - NO_AWS: 1
      - MT_CPU: 5
      - ARTIFACTORY_BASE_URL: https://artifactory-internal.ps.chef.co

slack:
 notify_channel: inspec-notify

github:
 delete_branch_on_merge: true
 version_tag_format: v{{version}}
 minor_bump_labels:
   - "Expeditor: Bump Minor Version"
 # allow bumping the major release via label
 major_bump_labels:
   - "Expeditor: Bump Major Version"

release_branches:
  - main:
     version_constraint: 6.*
  - inspec-7:
     version_constraint: 7.*
  - inspec-5:
     version_constraint: 5.*
  - inspec-4:
     version_constraint: 4.*

changelog:
 categories:
  - "Type: New Resource": "New Resources"
  - "Type: New Feature": "New Features"
  - "Type: Enhancement": "Enhancements"
  - "Type: Bug": "Bug Fixes"


artifact_channels:
  - base-2025-current
  - base-2025

subscriptions:
  - workload: pull_request_merged:{{github_repo}}:{{release_branch}}:*
    actions:
     - built_in:bump_version:
        ignore_labels:
         - "Expeditor: Skip All"
         - "Expeditor: Skip Version Bump"
        only_if_modified:
         - .expeditor/*
         - docs-chef-io/*
         - etc/*
         - habitat/*
         - inspec-bin/*
         - lib/*
         - support/*
         - tasks/*
         - test/*
         - Gemfile*
         - LICENSE
         - "*.gemspec"
         - "*.md"
         - NOTICE*
     - bash:.expeditor/update_version.sh:
        only_if: built_in:bump_version
        ignore_labels:
         - "Expeditor: Pre-Release Version Bump"
     - bash:.expeditor/update_pre_release_version.sh:
        only_if: built_in:bump_version
        only_if_labels:
            - "Expeditor: Pre-Release Version Bump"
     - built_in:update_changelog:
        ignore_labels:
         - "Expeditor: Skip All"
         - "Expeditor: Skip Changelog"
     - trigger_pipeline:artifact/habitat:
        only_if: built_in:bump_version
        ignore_labels:
         - "Expeditor: Skip Habitat"
         - "Expeditor: Skip All"
     - trigger_pipeline:habitat/build:
        only_if: built_in:bump_version
        ignore_labels:
         - "Expeditor: Skip Habitat"
         - "Expeditor: Skip All"
     - built_in:build_gem:
        only_if:
         - built_in:bump_version

# Creates base-2025-current package from unstable package once hab build is complete
  - workload: buildkite_hab_build_group_published:{{agent_id}}:*
    actions:
     - built_in:promote_habitat_packages

# Promoting base-2025-current to base-2025 channel
  - workload: project_promoted:{{agent_id}}:*
    actions:
     - built_in:rollover_changelog
     - built_in:publish_rubygems
   #   - built_in:create_github_release # This does not work under project_promoted workload
     - built_in:promote_habitat_packages
     - bash:.expeditor/publish-release-notes.sh:
        post_commit: true
     - purge_packages_chef_io_fastly:{{target_channel}}/inspec/latest:
        post_commit: true
   #   - bash:.expeditor/announce-release.sh: # Keeping this disabled until complete GA
   #      post_commit: true
     - built_in:notify_chefio_slack_channels

  - workload: pull_request_opened:{{github_repo}}:{{release_branch}}:*
    actions:
     - post_github_comment:.expeditor/templates/pull_request.mustache:
        ignore_team_members:
         - inspec/owners
         - inspec/inspec-core-team
     - built_in:github_auto_assign_author:
        only_if_team_member:
         - inspec/owners
         - inspec/inspec-core-team
