//Normal Links

a {
	font-family: $heading-font;
	color: $color_link;
	@extend %transition;
}

//All CTA's

.btn {
	@extend %transition;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	color: $color_purple;
	padding: 0.6rem 1.25rem;
	border-left: 1px solid $color_purple;
	border-right: 1px solid $color_link;
	box-sizing: border-box;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	background-image: linear-gradient(to right, $color_purple 0, $color_link 100%), linear-gradient(to right, $color_purple 0, $color_link 100%);
	&:hover {
		background-color: $color_purple;
		color: $color_white;
		border-color: $color_purple;
		background-image: initial;
	}
	&.btn-inverse {
		color: $color_purple;
		&:hover {
			background-color: $color_purple;
			color: $color_white;
		}
	}
}

//Form Buttons

button {
	@extend %transition;
	background: $color_purple;
	border: 2px $color-purple;
	border-radius: 4px;
	color: $color_white;
	padding: 0.6rem 1.25rem;
}

button:hover {
 opacity:0.8;
}
