//default

code {
	padding       : 2%;
	color         : $color_white;
	border-radius : 7px;
	background    : $color_heading;
}

// Container for code example

.code-example {
	padding       : $percent_sm;
	border-radius : 7px;
	background    : $color_heading;
}


// Code Font Colors

.code-demo {
	color            : $color_white;
	border           : 0;
	background-color : initial;
}

.code-attribute {
	color : $color_purple;
}

.code-token {
	color : $color_code_token;
}

.code-comment {
	opacity : 0.6;
}

// Indentation

.indent {
	padding-left : 1em;
	word-wrap    : normal;
}
