@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

@font-face {
  font-family: 'Jaapokki';
  src: url('/fonts/jaapokki-regular-webfont.eot');
  src: url('/fonts/jaapokki-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/jaapokki-regular-webfont.woff2') format('woff2'),
       url('/fonts/jaapokki-regular-webfont.woff') format('woff'),
       url('/fonts/jaapokki-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jaapokki Alternate';
  src: url('/fonts/jaapokkisubtract-regular-webfont.eot');
  src: url('/fonts/jaapokkisubtract-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/jaapokkisubtract-regular-webfont.woff2') format('woff2'),
       url('/fonts/jaapokkisubtract-regular-webfont.woff') format('woff'),
       url('/fonts/jaapokkisubtract-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-light-webfont.eot');
  src: url('/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/roboto-light-webfont.woff2') format('woff2'),
       url('/fonts/roboto-light-webfont.woff') format('woff'),
       url('/fonts/roboto-light-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-medium-webfont.eot');
  src: url('/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('/fonts/roboto-medium-webfont.woff') format('woff'),
       url('/fonts/roboto-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: bold;
}
