#main-footer {
  padding-right: 45px; // Same margins as nav
  padding-left: 45px;
  background: $color_dark;
}

footer > #dlmsg { // Download Message
  padding-top: $percent_md;
  padding-bottom: $percent_md;
}

footer a.btn:first-child {
  margin-right: 1.6em;
}

footer span {
  margin-left: 6px;// Icon
}

.columns.large-8.medium-8 {
  @include nav-small {
    width: 100%;
  }
}


footer .large-4.medium-4.mobile-hide {
  @include nav-small {
    display: none;
  }
}

.columns.margin-both-xs.mobile-show {
  @include nav-small {
    display: block;
  }
}

ul.footer--logos {
  margin-left: 0!important;

  @include nav-small {
    text-align: center;
    width: 100%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
  }
}

ul.footer--logos li {
  display: inline-block;
  margin-left: 0!important;
}

.footer--logo  {
  display: inline-block;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  vertical-align: middle;

  &.chef {
    width: 80px;
    padding-left: 1.6em; //same as default li margin
    border-left: 1px solid $color_white;

    @include nav-small { //mobile
      border-left: initial;
    }
  }

  &.inspec {
    width: 130px;
    padding-right: 1.6em; //same as default li margin
  }
}

ul.footer--links {
  @extend .no-bullet;
  display: inline-flex;
  margin-left: auto;

  @include nav-small { //mobile
    display: block;
    text-align: center;
    float: none;
  }

  li {
    margin-left: 28px;

    @include nav-small {  //mobile
    margin-left: initial;
    margin-bottom: $percent_sm/2;
    }
  }
}

li a.footer--link {
  color: $color_white;
  text-decoration: none;
  &:active,
  &:focus,
  &:hover {
    color: $color_purple;
  }
}

// Hex Animation

img#hex {
  width: 45px;
  -moz-animation: spin 2s linear infinite both;
  -webkit-animation: spin 2s linear infinite both;
  animation: spin 2s linear infinite both;
}
