
#main-footer {
  padding-right : 40px; // Same margins as nav
  padding-left  : 40px;
  background    : $color_heading;
}


footer > #dlmsg {
  // Download Message
  padding-top    : $percent_md;
  padding-bottom : $percent_md;
}

footer a.btn:last-child {
  margin-left : 1.6em;
}

footer span {
  margin-left : 6px;// Icon
}

ul.footer--logos {
  margin-left: 0!important;
}

ul.footer--logos li {
  display: inline-block;
  margin-left: 0!important;

}

.footer--logo  {
  display        : inline-block;
  filter         : brightness(0) invert(1);
  vertical-align : middle;

  &.chef {
    width        : 80px;
    padding-left : 1.6em; //same as default li margin
    border-left  : 1px solid $color_white;
  }

  &.inspec {
    width         : 130px;
    padding-right : 1.6em; //same as default li margin
  }
}

ul.footer--links {
  @extend       .no-bullet;
  display     : inline-flex;
  margin-left : auto;
}

li a.footer--link {
  color       : $color_gray;
  font-family : $heading-font;
  font-weight: 400;

  &:active,
  &:focus,
  &:hover {
    color : $color_purple;
  }
}

// Hex Animation

img#hex {
  width             : 25px;
  -moz-animation    : spin 2s linear infinite both;
  -webkit-animation : spin 2s linear infinite both;
  animation         : spin 2s linear infinite both;
}
