#global-message {
  position: fixed;
  z-index: 95;
  top: -200px;
  right: 0;
  left: 0;
  padding: 15px 0;
  background-color: $inspec-blue;
  color: $white;
  font-size: 15px;
  transition: top 0.3s ease;

  &.is-visible {
    top: 0;
  }

  .dismiss-button {
    margin: 3px;
    color: $white;
    cursor: pointer;
    font-weight: 700;

    .fa {
      margin-right: 5px;
    }
  }

  a, a:hover, a:visited, a:active, a:link {
    color: $white;
    text-decoration: none;
  }

  @media (max-width: 649px) {
    font-size: 13px;
  }

  @include nav-small {
    position: fixed;
    top: -200px;
    right: 0;
    left: 0;
  }

  @include nav-large {
    z-index: 1100;
  }
}