.hero--img {
  display: block;
  max-width: 100px;
  margin: 0 auto;
}

.hero--heading {
  font-family: $heading-accent-font;
  text-transform: uppercase;
  text-align: center;
}

.hero--subhead {
  margin-bottom: 20px;

  @media (min-width: 640px) {
    font-size: 24px;
  }
}