// Hero Banner - Home Page

header {
	height : 360px;

	@include nav-small {
		height: 300px;
	}
}

#particles-js { // Animated dot particles
	z-index: 20;
	position: absolute;
	width: 100%;
	height: 500px;
	margin-top: -500px;
	overflow: hidden;
	background-color: transparent;
}

#particles-second { // Animated line particles
	position: absolute;
	width: 100%;
	max-width: 100%;
	height: 80%;
	overflow: hidden;
	background-color: transparent;

	@include nav-small { //mobile
		height: 100%;
	}
}

.h-top { // Container for homepage header art
	height : 360px; //same as header height

	@include nav-small {
		height: 300px;
	}

	img {
		&:first-of-type {// Grid Art
			z-index: 10;
			position: absolute;
			top: 90px;
			height: 360px;

			@include nav-small {
				height: 300px;
				top: 50px;
			}
		}

		&:nth-child(3) { // Diamond
			height: 220px;
			margin-top : 55px;

			@include nav-small { //mobile
				height: 190px;
				margin-top: 35px;
			}
		}
	}

	h1 { // Heading
		z-index: 10;
		position: absolute;
		margin-top: 270px;

		@include nav-small { //mobile
			margin-top: 210px;
		}
	}
}

// Hero illustration for Community

img.grid {
	z-index: -1;
	margin-top: -80px;
}

img.ball {
	position: absolute;
	width: 35px;
	margin-top: 20px;
	margin-left: 240px;
	-moz-animation: spin 2s linear infinite both;
	-webkit-animation: spin 2s linear infinite both;
	animation: spin 2s linear infinite both;
}

img.ball:nth-child(2) {
	width: 55px;
	margin-top: 110px;
	margin-left: 150px;
}

img.ball:nth-child(3) {
	width: 75px;
	margin-top: 130px;
	margin-left: 290px;
}

// Children page Headers

.child-h {
	height: 180px; // plus header height
}

.child-h #particles-second,
.child-h .purp-shade {
	height: 180px;
}

.child-h .row {
	position: relative;
	top: 50%;
	-o-transform: translateY(-50%); // vertically align content inside parent
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.child-h #particles-second {
	z-index: 1;
}

// Animation for Home Page

.grid-animate { // Warping Grid Animation//
	-moz-animation: g-animate 8s linear infinite both;
	-webkit-animation: g-animate 8s linear infinite both;
	animation: g-animate 8s linear infinite both;
}

@-webkit-keyframes g-animate {
	25% {
		-webkit-transform: rotateZ(10deg) scale3d(0.7, 1, 1.2);
		transform: rotateZ(10deg) scale3d(0.7, 1, 1.2);
	}

	50% {
		-webkit-transform: scale3d(1.2, 0.7, 1);
		transform: scale3d(1.2, 0.7, 1);
	}

	75% {
		-webkit-transform: rotateZ(10deg) scale3d(0.7, 1.2, 0.5);
		transform: rotateZ(10deg) scale3d(0.7, 1.2, 0.5);
	}
}

@keyframes g-animate {
	25% {
		-moz-transform: rotateZ(10deg) scale3d(0.7, 1, 1.2);
		transform: rotateZ(10deg) scale3d(0.7, 1, 1.2);
	}

	50% {
		-moz-transform: scale3d(1.2, 0.7, 1);
		transform: scale3d(1.2, 0.7, 1);
	}

	75% {
		-moz-transform: rotateZ(10deg) scale3d(0.7, 1.2, 0.5);
		transform: rotateZ(10deg) scale3d(0.7, 1.2, 0.5);
	}
}

// Growing HR

hr.first { // Apply to animated HR, JS calls this
	width: 0px;
}

.stretch {
	-moz-animation: grow 0.6s linear 1 both;
	-webkit-animation: grow 0.6s linear 1 both;
	animation: grow 0.6s linear 1 both;
}

@-webkit-keyframes grow {
	from {
		width: 0px;
	}

	to {
		width: 150px;
	}
}

@keyframes grow {
	from {
		width: 0px;
	}

	to {
		width: 150px;
	}
}

// Spin Animation Keyframes

@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

//Rotate 90 degrees for nav-small

.turn {
-webkit-transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 -o-transform: rotate(90deg);
 -ms-transform: rotate(90deg);
 transform: rotate(90deg);
}

//Rotate 45 Degs

.turn-angle{
-webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}
