
$side-nav-width: 200px;
$top-nav-height: 100px;
$side-nav-padding-large: 10px;
$side-nav-padding-small: 30px;
$nav-breakpoint: 730px;



@mixin nav-large {
  @media (min-width: #{$nav-breakpoint}) {
    @content;
  }
}

@mixin nav-small {
  @media (max-width: $nav-breakpoint - 1px) {
    @content;
  }
}

#main-nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: $color_white;
  transition: top 0.3s ease;

  @include nav-large {
    position: fixed;
    z-index: 100;
    width: $side-nav-width;
  }

  &.is-fixed-bottom {
    @include nav-large {
      top: auto !important;
      position: absolute;
    }

    @media (min-width: 640px) and (max-width: 879px) {
      bottom: 156px;
    }

    @media (min-width: 880px) {
      bottom: 141px;
    }
  }
}

.main-nav--toggle {
  display: none;
  transition: all 0.3s ease;

  path {
    fill: $color_gray;
  }

  @include nav-small {
    display: block;
    position: absolute;
    top: 20px;
    right: $side-nav-padding-small;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &.is-active {
    transform: rotate(-90deg);

    path {
      fill: $color_link;
    }
  }
}

.main-nav--link-ctas {
  padding: 9px 0 9px $side-nav-padding-small;
  border-bottom: 1px solid lighten($color_gray, 40%);

  & > .button {
    margin-bottom: 0;
  }

  @include nav-large {
    display: none;
  }
}

.main-nav--logo {
  display: inline-block;
  width: 130px;
  float: left;
}

.main-nav--links {
  border-top: 1px solid lighten($color_gray, 40%);
  margin-bottom: 0;
  @extend .no-bullet;

  @include nav-small {
    display: none;
  }

  .sidebar-layout-docs & {
    max-height: calc(100vh - 64px);
    overflow-y: scroll;

    @include nav-large {
      max-height: calc(100vh - 107px);
    }
  }
}

.main-nav--link {
  position: relative;
  padding: 9px 0;
  border-bottom: 1px solid lighten($color_gray, 40%);
  text-transform: uppercase;
  font-size: 14px;

  & > a {
    color: $color_gray;

    &:hover,
    &:focus,
    &:active {
      color: darken($color_gray, 15%);
    }
  }
}

.main-nav--link-icon {
  position: absolute;
  top: 13px;
  left: $side-nav-padding-small;
  font-size: 0.9em;

  @include nav-large {
    left: $side-nav-padding-large;
  }


  @include nav-large {
    margin-left: 34px;
  }
}

#main-nav-ctas {
  transition: top 0.3s ease;
  background: $color_white;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 0 4px rgba(151, 110, 229, 0.1);

  .main-nav--link-text {
    margin-left: 6px;
  }

  a {
    color: $color_gray;
  }

  a#main-nav--logo {
    margin-left: initial!important;
  }

  a:hover, a.btn, a:active {
    color: $color_purple;
  }

  a.btn:hover {
    color: white;
  }

  @include nav-small {
    display: none;
  }

  @include nav-large {
    position: fixed;
    z-index: 90;
    top: 0;
    width: 100%;
    line-height: 80px;
    text-align: right;

    & > .button {
      margin-bottom: 0;
    }
  }
}

//Hannah's Styles'

nav {
  z-index: 200;
  height: 80px;
}

nav ul {
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  font-weight: 400;
  line-height: 80px;
}

a.main-nav--logo {
  display: inline-block;
  width: 130px;
  float: left;
  margin-left: initial!important;
}
