

#main-nav {
  width: 100%;
  max-width: 100%;
  background: $color_white;
}

.main-nav--logo {
  display: inline-block;
  width: 130px;
  float: left;
}

.main-nav--links {
  @extend .no-bullet;

  @include nav-small {
    display: none;
  }
}

#main-nav-ctas {
  background: $color_white;
  padding-left: $percent_sm;
  padding-right: $percent_sm;

  @include nav-small {
    padding-left: $percent_xs;
    padding-right: $percent_xs;
    -webkit-box-shadow: 0px 15px 60px 0px $color_shadow;
    -moz-box-shadow: 0px 15px 60px 0px $color_shadow;
    box-shadow: 0px 15px 60px 0px $color_shadow;
  }

  .main-nav--link-text {
    margin-left: 6px;
  }

  @include nav-large {
    position: fixed;
    z-index: 90;
    top: 0;
    width: 100%;
    line-height: 80px;
    text-align: right;

    & > .button {
      margin-bottom: 0;
    }
  }
}

//Hannah's Styles'

.main-nav--link {
  a {
    color: $color_dark;
    text-decoration: none;
  }

  a:hover, a.btn, a:active {
    color: $color_purple;
  }
}

nav {
  z-index: 200;
  height: 80px;
  margin-bottom: 80px;
}

nav ul {
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  font-weight: 400;
  line-height: 80px;
  margin-left: 28px;

  @include nav-small {
    display:block;
    line-height: 60px;
    clear: both;
    margin-left: $percent_sm;
    margin-right: $percent_sm;
    border-bottom: 1.5px solid #E9EDF2;
    text-align: left;
  }
}

nav li:first-child{
  @include nav-small {
    padding-top: $percent_sm;
  }
}

nav li.nav-cta {
  margin-left: 28px;

  @include nav-small {
    display:block;
    line-height: 60px;
    clear:both;
    margin-left: $percent_sm;
    margin-right: $percent_sm;
    margin-top: $percent_sm;
    border-bottom: 0px;
    text-align: left;

    &:last-child {
      margin-top: 0;
      padding-bottom: $percent_sm;
    }

    .btn-sm {
      max-width: 250px;
      width: 250px;
    }
  }

  @include mobile {
    padding-bottom: $percent_sm;
  }
}

nav li.nav-cta a.button {
  margin-top: 12px;
}

#main-nav-ctas > i {
  display: none;
  color: $color_purple;
  cursor: pointer;

  @include nav-small {
    display: block;
    font-size: 1.5em;
    float: right;
    line-height: 80px;
  }
}

span.toggle {
  font-size: 1.25em;
  float: right;
}

a.main-nav--logo {
  display: inline-block;
  width: 130px;
  float: left;
  margin-left: initial !important;

  @include nav-small {
    line-height: 80px;
  }
}
