

#main-nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: $color_white;
  transition: top 0.3s ease;
  box-shadow: 0 0 10px rgba(151, 110, 229, 0.1);

  @include nav-large {
    position: fixed;
    z-index: 100;
    width: $side-nav-width;
  }

  &.is-fixed-bottom {
    @include nav-large {
      top: auto !important;
      position: absolute;
    }

    @media screen and (min-width: 640px) and (max-width: 879px) {
      bottom: 156px;
    }

    @media screen and (min-width: 880px) {
      bottom: 141px;
    }
  }
}

.main-nav--link-ctas {
  padding: 9px 0 9px $side-nav-padding-small;
  border-bottom: 1px solid lighten($color_gray, 40%);

  & > .button {
    margin-bottom: 0;
  }
}

.main-nav--logo {
  display: inline-block;
  width: 130px;
  float: left;
}

.main-nav--links {
  @extend .no-bullet;

  @include nav-small {
    display: none;
  }

  .sidebar-layout-docs & {
    max-height: calc(100vh - 64px);
    overflow-y: scroll;

    @include nav-large {
      max-height: calc(100vh - 107px);
    }
  }
}

.main-nav--link-icon {
  position: absolute;
  top: 13px;
  left: $side-nav-padding-small;
  font-size: 0.9em;

  @include nav-large {
    left: $side-nav-padding-large;
  }

  @include nav-large {
    margin-left: 34px;
  }
}

#main-nav-ctas {
  transition: top 0.3s ease;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  background: $color_white;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 0 10px rgba(151, 110, 229, 0.1);

  @include nav-small {
    padding-left: .9375rem;
    padding-right: .9375rem;
    box-shadow: initial;
  }

  .main-nav--link-text {
    margin-left: 6px;
  }

  @include nav-large {
    position: fixed;
    z-index: 90;
    top: 0;
    width: 100%;
    line-height: 80px;
    text-align: right;

    & > .button {
      margin-bottom: 0;
    }
  }
}

//Hannah's Styles'

.main-nav--link {
  a {
    color: $color_gray;
  }

  a:hover, a.btn, a:active {
    color: $color_purple;
  }

  a.btn:hover {
    color: white;
  }
}

nav {
  z-index: 200;
  height: 80px;
  margin-bottom: 80px;

  @include nav-small {
    height: 60px;
  }
}

nav ul {
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  font-weight: 400;
  line-height: 80px;

  @include nav-small {
    line-height: 60px;
    clear:both;
    display:block;
    line-height: initial;
    padding-top: $percent_sm/2;
    padding-bottom: $percent_sm/2;
    border-bottom: 1px solid $color_lt_blue;
    text-align: center;
  }
}

nav li:first-child{
  @include nav-small {
    padding-top: $percent_sm;
  }
}

nav li.nav-cta {
  @include nav-small {
    padding-top: $percent_sm;
    padding-bottom: $percent_sm;
  }
}

#main-nav-ctas > i {
  display: none;
  color: $color_purple;
  cursor: pointer;

  @include nav-small {
    display: block;
    font-size: 1.5em;
    float: right;
    margin-top: 0.75em;
  }
}

span.toggle {
  font-size: 1.25em;
  float: right;
}

a.main-nav--logo {
  display: inline-block;
  width: 130px;
  float: left;
  margin-left: initial !important;

  @include nav-small {
    margin-top: 0.8em;
  }
}
