#main-nav {
  width: 100%;
  max-width: 100%;
  background: $white;
  position: relative;
  transition: top 0.4s ease;
}

a.main-nav--logo {
  display: inline-block;
  width: 105px;
  max-width: 105px;
  float: left;
  line-height: 50px;

  &:hover {
    opacity: 1;
  }

  @include nav-small {
    float: none;
  }
}

.main-nav--links {
  @extend .no-bullet;

  @include nav-small {
    display: none;
  }
}

#main-nav-ctas {
  background-color: $white;
  padding-left: $percent_sm;
  padding-right: $percent_sm;
  border-bottom: 1px solid $docs-gray;
  @include nav-small {
    padding-left: $percent_xs;
    padding-right: $percent_xs;
    -webkit-box-shadow: 0px 15px 60px 0px $color_shadow;
    -moz-box-shadow: 0px 15px 60px 0px $color_shadow;
    box-shadow: 0px 15px 60px 0px $color_shadow;
  }

  .main-nav--link-text {
    margin-left: 6px;
  }

  @include nav-large {
    position: fixed;
    z-index: 90;
    top: 0;
    width: 100%;
    line-height: 55px;
    text-align: right;

    & > .button {
      margin-bottom: 0;
    }
  }
}

.main-nav--link {
  a {
    color: $dark-gray;
    text-decoration: none;
  }

  a:hover, a.btn, a:active {
    color: $chef-primary;
  }
}

nav {
  z-index: 200;
  height: 55px;
  margin-bottom: 55px;
}

nav ul {
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  font-weight: 400;
  line-height: 55px;
  margin-left: 28px;

  @include nav-small {
    display:block;
    line-height: 45px;
    clear: both;
    margin-left: 0;
    // margin-right: $percent_sm;
    // border-bottom: 1.5px solid #E9EDF2;
    text-align: left;
  }
}

nav li.nav-cta {
  margin-left: 28px;

  @include nav-small {
    display:block;
    line-height: 60px;
    clear:both;
    margin-left: $percent_sm;
    margin-right: $percent_sm;
    margin-top: $percent_sm;
    border-bottom: 0px;
    text-align: left;

    &:last-child {
      margin-top: 0;
      padding-bottom: $percent_sm;
    }

    .btn-sm {
      max-width: 250px;
      width: 250px;
    }
  }

  @include mobile {
    padding-bottom: $percent_sm;
  }
}

nav li.nav-cta a.button {
  margin-top: 12px;
}

#main-nav-ctas > i {
  display: none;
  color: $dark-gray;
  cursor: pointer;

  @include nav-small {
    display: block;
    font-size: 1.5em;
    float: right;
    line-height: 55px;
  }
}

span.toggle {
  font-size: 1.25em;
  float: right;
}


