$inspec-blue: #4197b5;
$inspec-green: #63ce99;
$inspec-dark-blue: #5c6670;
$inspec-grey: #606468;
$inspec-light-grey: #c3c6c8;
$off-white: #e6e6e6;
$white: #fff;

$heading-accent-font: 'Jaapokki Alternate', 'Avenir', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font: 'Jaapokki', 'Avenir', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$main-font: 'Avenir', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
