//colors
$color_heading: #2c2e30;
$color_paragraph: #647b82;
$color_gray: #b0bebf;
$color_white: white;
$color_link: #3ab3ce;
$color_purple: #955af2;
$color_code_token: #3bc5cc;
$color_hr: rgba(99,206,153,1);
$color_shadow: rgba(151,110,229,0.2);
$color_triangle_block: #41ade5;
$color_purple_shade: rgba(151,110,229,0.4);
$color_blue_shade: rgba(91, 201, 163, 1);
$color_blue_shade_2: rgba(58, 142, 206, 1);

//Font

$heading-font: 'open sans light', Helvetica, Arial, sans-serif;
$main-font: 'source sans pro light', Helvetica, Arial, sans-serif;

//Margin Sizes

$percent_lg: 12%;
$percent_md: 8%;
$percent_sm: 3%;

//Shared Styles

%uppercase {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

%transition {
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}
