.sidebar-layout-docs {
  .main-nav--links {
    border-top: none;
  }

  .main-nav--link-ctas {
    border-bottom: none;
    margin-bottom: 3px;
  }
}

.main-nav--sidebar {
  padding: 0 $side-nav-padding-small;

  @include nav-large {
    padding: 0 $side-nav-padding-large;
  }
}

.main-sidebar--links {
  list-style: none;
  margin-left: 0.5rem;

  ul {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

.main-sidebar--link h6 {
  font-weight: 500;
}

.main-sidebar--list--item {
  position: relative;
  padding: 3px 0;
  text-transform: uppercase;
  font-size: 14px;

  & > a {
    color: $inspec-grey;

    &:hover,
    &:focus,
    &:active {
      color: darken($inspec-grey, 15%);
    }
  }
}

.center {
  text-align: center;
}

.gsc-adBlock, .gcsc-branding {
  display: none !important;
}

.gsc-control-cse {
  padding: 0 !important;

  tbody {
    border: none;
    background: none;
  }

  .gsc-input-box {
    height: 3rem;
    table {
      margin-bottom: 0;
    }
  }

  .gsc-input input {
    box-shadow: none !important;
  }

  .gsc-search-button {
    font-family: inherit;
    font-size: 11px;
    padding: 5px 18px;
    height: 27px;
    min-width: 54px;
  }
}
