

//stickjs - subtract header height
.is_stuck {
  margin-top: $percent_md;
}

//overwriting default ul li styles for side bar

ul.main-sidebar--links {
  list-style-type: none;
  margin-bottom: $percent_sm!important;
}

ul.main-sidebar--links li {
  margin-left: 0em;
}
ul.main-sidebar--links li:last-child {
  margin-bottom: $percent_sm!important;
}

// THIS IS STILL OLD STUFF  - don't know what it is - hannah//
.gcsc-branding,
.gsc-adBlock {
  display : none !important;
}

.gsc-control-cse {
  padding : 0 !important;

  tbody {
    border     : none;
    background : none;
  }

  .gsc-input-box {
    height : 3rem;

    table {
      margin-bottom : 0;
    }
  }

  .gsc-input input {
    box-shadow : none !important;
  }

  .gsc-search-button {
    min-width   : 54px;
    height      : 27px;
    padding     : 5px 18px;
    font-family : inherit;
    font-size   : 11px;
  }
}
