.tutorials--subhead {
  font-family: $heading-font;
  color: $color_link;
}

.tutorials--links {

  & > li {
    margin-bottom: 4px;
  }
}

.tutorials--link {
  font-family: $heading-font;

  & > span {
    text-transform: none;
    font-family: $main-font;
    color: $color_paragraph;
  }
}
