.tutorials--subhead {
  font-family: $heading-font;
  text-transform: uppercase;
  color: $inspec-blue;
  font-size: 18px;
}

.tutorials--links {
  margin-bottom: 30px;

  @media (min-width: 640px) {
    padding-left: 30px;
  }

  & > li {
    margin-bottom: 4px;
  }
}

.tutorials--link {
  text-transform: uppercase;
  font-family: $heading-font;

  & > span {
    text-transform: none;
    font-family: $main-font;
    color: $body-text;
  }
}