.tutorials--subhead {
  color: $color_link;
  font-family: $heading-font;
}

.tutorials--links {
  & > li {
    margin-bottom: 4px;
  }
}

.tutorials--link {
  font-family: $main-font;

  & > span {
    color: $color_paragraph;
    text-transform: none;
    font-family: $main-font;
  }
}
