h1 {
	color: $color_dark;
	font-family: $heading-font;
	font-size: 2.25em;
	font-style: normal;
	font-weight: 400;

	@include nav-small { //mobile
		font-size: 1.8em;
	}
}

h2 {
	color: $color_dark;
	font-family: $heading-font;
	font-size: 1.75em;
	font-style: normal;
	font-weight: 400;

	@include nav-small { //mobile
		font-size: 1.4em;
	}
}

h3 {
	color: $color_dark;
	font-family: $heading-font;
	font-size: 1.25em;
	font-style: normal;
	font-weight: 400;

	@include nav-small {   //mobile
		font-size: 1.2em;
	}
}

h4 {
	color: $color_dark;
	font-family: $heading-font;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

p {
	font-family: $main-font;
	font-style: normal;
	font-weight: 400;
	color: $color_dark;
}

li,
ol,
p,
ul {
	color: $color_dark;
	font-family: $main-font;
	font-style: normal;
	font-weight: 400;
	list-style-type: none;
}

small {
	font-family: $main-font;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

hr {
	margin-left: 0;
	width: 250px;
	height: 2px;
	margin-top: 12px;
	margin-bottom: 12px;
	border: 0;
	background: -moz-linear-gradient(-45deg, #5bc8a9 0%, #47b7d1 50%, #6063ef 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #5bc8a9 0%,#47b7d1 50%,#6063ef 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #5bc8a9 0%,#47b7d1 50%,#6063ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bc8a9', endColorstr='#6063ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

hr.small {
	width: 150px;
}

hr.center {
	margin-left: auto;
}

i {
	margin-right: 8px;
}

//Increase Text Margin

.txt-margin {
	margin-bottom: 1rem;
}

// Font Colors//

.t-dk {
	color: $color_dark;
}

.t-white {
	color: $color_white;
}

.t-gray {
	color: $color_gray;
}

.t-blue {
	color: $color_blue;
}

.t-purple {
	color: $color_purple !important;
}

.t-purple > a { //trigger for side bar LI
	color: $color_purple !important;
}
