---
title: About the apache Resource
platform: linux
---

# apache

Use the `apache` Chef InSpec audit resource to test the state of the Apache server on Linux/Unix systems.

<p class="warning">This resource is deprecated and should not be used. It will be removed in Chef InSpec 3.0.</p>

<br>

## Availability

### Installation

This resource is distributed along with Chef InSpec itself. You can use it automatically.

### Version

This resource first became available in v1.51.15 of InSpec.

## Syntax

An `apache` Chef InSpec audit resource block declares settings that should be tested:

    describe apache do
      its('setting_name') { should cmp 'value' }
    end

where

* `'setting_name'` is description of the Apache configuration file
* `{ should cmp 'value' }` is the value that is expected

<br>

## Properties

* `service`, `conf_dir`, `conf_path`, `user`

<br>

## Property Examples

The following examples show how to use this Chef InSpec audit resource.

### Test the service name.

    describe apache do
      its ('service') { should cmp 'apache2' }
    end

### Test the configuration location

    describe apache do
      its ('conf_dir') { should cmp '/etc/apache2' }
    end

### Test the path of the configuration file

    describe apache do
      its ('conf_path') { should cmp '/etc/apache2/apache2.conf' }
    end

### Test the apache user

    describe apache do
      its ('user') { should cmp 'www-data' }
    end

<br>

## Matchers

For a full list of available matchers, please visit our [matchers page](https://www.inspec.io/docs/reference/matchers/).
